* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pic1, .pic2, .pic3 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.pic1, .pic3 {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.pic1 {
    background-image: url('https://nobu-tokyo.com/wp-content/uploads/2021/06/1098A112-3179-4989-B05B-CDA259F63698.jpeg');
}

.pic3 {
    background-image: url('https://myfirstshiba.com/wp-content/uploads/2022/06/show3_shutterstock_1274147377-copy.jpg');
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.paragraph1, .paragraph2, .paragraph3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    text-align: center;
    z-index: 1;
}

.pic2 {
    background-color: black;
}