* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}
.h1 {
    font-size: 28px;
}
.small-text1 {
    color: black;
    font-size: 18px;
}
.small-text2 {
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.card {
    width: 250px;
    height: 400px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}
img {
    height: 43%;
    width: 100%;
    object-fit: cover;
}
.content {
    height: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
button {
    width: 100%;
    height: 10%;
    background-color:rgb(50, 154, 239);
    color: white;
    font-size: 24px;
}
.svg {
    display: flex;
    gap: 20px;
}