.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    background-color: blue;
}
button {
    scale: 1;
    font-size: 28px;
    padding: 15px 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    color: white;
    scale: 1.1;
    background: #000;
}